// ============== breakpoint-mixin =============
//http://1pixelout.net/2015/10/02/simple-breakpoint-media-queries-with-stylus/

media_queries = {
  mobile  : "only screen and (max-width: 570px)",
  tablet  : "only screen and (min-width: 571px) and (max-width: 750px)",
  desktop : "only screen and (min-width: 750px)"
}

for_(breakpoints)
  conditions = ()
  for breakpoint in breakpoints
    push(conditions, media_queries[breakpoint])
  conditions = join(", ", conditions)
  @media conditions
    {block}

// ============== END breakpoint-mixin =========


